#contact-container {
  height: 100vh;
  background: url("../images/contact.jpg") no-repeat center center/cover;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
  font-family: myFont3;
  font-weight: 100;
  color: rgba(255, 194, 102, 0.902);
}

#contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#contact-container * {
  z-index: 10;
}

.center {
  height: 10%;
}

#contact-container input {
  background-color: transparent;
  padding: 5px !important;
  color: rgba(255, 194, 102, 0.902);
  margin: 5px 0 !important;
}
#contact-container input:focus {
  outline: none !important;
  outline-color: transparent !important;
}

#contact-container textarea {
  background-color: transparent;
  padding: 5px !important;
  color: rgba(255, 194, 102, 0.902);
  margin: 5px 0 !important;
  resize: none;
}

#contact-container button {
  padding: 5px !important;
  background-color: transparent;
  color: rgba(255, 194, 102, 0.902);
  display: block;
  margin: auto !important;
  width: 100%;
}

#contact-container button:hover {
  background-color: rgba(255, 194, 102, 0.192);
}
