#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.logo {
  max-width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#logo {
  max-width: 30%;
  height: 100%;
}

#logo img {
  width: 80%;
}

.nav a {
  display: block;
  color: #ffc266;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style: none;
  min-width: 70%;
}

.nav ul li {
  padding: 20px !important;
  cursor: pointer;
  min-width: calc(100% / 4);
  font-family: myFont1;
  font-size: 25px;
  transition: all ease-in-out 0.6s;
  border-bottom: 1px solid transparent;
}

.nav ul li:hover {
  border-bottom: rgba(255, 194, 102, 0.7) 1px solid;
}
