#lists {
  height: 100vh;
  /* margin-top: 15% !important; */
  color: #fff;
  /* background-color: rgba(255, 194, 102, 0.4); */
  width: 100%;
  position: relative;
}

#lists h1 {
  font-family: myFont2;
  font-weight: 100;
  font-size: 60px;
  color: rgba(255, 194, 102, 0.902);
  text-align: center;
  height: 100px;
}

#lists .wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#svgUp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
}

#svgDown {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -20;
}

.box {
  height: 50vh;
  /* background: url("../images/showcase3.jpg") no-repeat center center/cover; */
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  /* border-radius: 50%; */
}

.box img {
  display: block;
  height: 70% !important;
  width: 70% !important;
  border-radius: 50%;
  padding: 10px !important;
  border: rgba(3, 29, 6, 0.9) 2px dotted;
}

#lists h2 {
  color: rgba(3, 29, 6, 0.9);
  display: block;
  width: 100%;
  font-family: myFont3;
  padding: 10px !important;
  text-align: center;
  margin-top: 30px !important;
}

.box h3 {
  color: rgba(3, 29, 6, 0.9);
  font-family: myFont3;
  /* text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333; */
  text-align: center;
  transform: skewX(12deg);
  font-size: 25px !important;
  margin-top: 5px !important;
}

.top,
.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0 !important;
  position: relative;
  width: 100%;
}

#first-box-movie {
  background: url("../images/2towers.jpg") no-repeat center center/cover;
}

#second-box-movie {
  background: url("../images/fellow2.jpg") no-repeat center center/cover;
}

#third-box-movie {
  background: url("../images/return2.jpg") no-repeat center center/cover;
}

#fourth-box-movie {
  background: url("../images/unexpected2.jpg") no-repeat center center/cover;
}

#fifth-box-movie {
  background: url("../images/desolation.jpg") no-repeat center center/cover;
}

#sixth-box-movie {
  background: url("../images/battle.jpg") no-repeat center center/cover;
}
